.table-element {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.471);
    text-align: center;
    background-color: mediumslateblue;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    background-color: grey;
    border: 1px solid black;
    gap: auto;
}

.selected {
    background-color: chocolate !important;
}

.sort-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    height: 33vh;
}

.stats {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
